.mssl-wrapper
  .article-suggestion-wrapper
    position: absolute
    left: 0
    top: 70px
    opacity: 0
    z-index: -1
    transition: all 0.3s ease-in-out
    max-height: 250px
    overflow-y: scroll
    width: 100%
    border-radius: 20px
    &.show
      transition: all 0.3s ease-in-out
      opacity: 1
      z-index: 1

    .article-suggestions
      list-style: none
      box-shadow: $box-shadow-light
      padding: 0
      margin: 0
      background: $tertiary-color

      li
        color: $primary-color
        padding: 10px 20px
        font-size: 1rem
        font-weight: 500
        cursor: pointer
        transition: all 0.3s ease-in-out
        &:hover
          background: rgba($primary-color, 0.3)

        &:not(&:first-of-type)
          border-top: 2px solid $primary-color

